<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Layout</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
		<script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>
		<script type="text/javascript" th:src="@{/js/angular.min.js}" src="../../js/angular.min.js"></script>
		<script type="text/javascript">
			
		</script>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1><a href="/"><img alt="Reverend" th:src="@{/images-res/logo.jpg}" src="../../images-res/logo.jpg" /></a>Reverend <small>Image Pre Process</small></h1>
			</div>
			<div class="row">
				<div class="col-md-4">
					<ul>
						<li th:each="batch :${project.batchs}" th:text="${batch.path}"></li>
					</ul>
				</div>
				<div class="col-md-8"></div>
			</div>
		</div>
	</body>
</html>