<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	<head>
		<title>Layout</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
		<script type="text/javascript" src="../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/angular.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="navbar">
				<div class="navbar-inner">
					<ul class="nav">
						<li><a href="home.html">Home</a></li>
						<li><a href="search.html">Search</a></li>
					</ul>
				</div>
				<form action="project.html" method="post">
					<input type="text" id="path" name="path" />
					<input type="submit" value="Create"/>
				</form>
			</div>
			<h1 layout:fragment="header">Layout</h1>
			<div layout:fragment="content">Fake content</div>
		</div>
	</body>
</html>